/*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: sans-serif;
    color:white;
    background-color: rgb(19, 18, 18);
    padding: 0;
    margin: 0;
    font-size: x-large;
}*/
.socials a{
    border: 1px solid  rgb(206, 204, 203);
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Vollkorn', serif;
    border-radius: 10em;
    transition: all .3s;
}
.socials a:hover{
    border: 1px solid  rgb(4, 127, 243);
    color:white;
    transition: all .3s;
}
