#w-head {
    position: absolute;
    width: 146px;
    height: 151px;
    left: 647px;
    top: 49px;
    font-family: Saira ExtraCondensed;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 151px;
    color: #000000;
}